.form-control.multiselect{
  min-height: 24px;
  padding: 0;
  justify-content: normal !important;
}

.form-control .multiselect__spinner {
  height: 32px;
}

.form-control .multiselect__spinner::before,
.form-control .multiselect__spinner::after {
  border-color: rgba(var(--colors-primary-500)) transparent transparent;
}



.form-control .multiselect__select {
  height: 32px;
}

.form-control .multiselect__tags{
  border:none !important;
}

.form-control .multiselect__placeholder {
  color: rgba(var(--colors-gray-400));
  margin: 4px 4px;
  padding:0;
}

.form-control .multiselect__element {
 font-size: .875rem;
}

.form-control .multiselect__option--highlight,
.form-control .multiselect__option--highlight::after {
  background: rgba(var(--colors-primary-500));
}

.form-control .multiselect__option {
  min-height: 32px;
  font-size: .875rem;
}

.form-control .multiselect__content-wrapper {
 margin-top: 1px;
}

.form-control .multiselect--above .multiselect__content-wrapper  {
 bottom: 50%;
}


.form-control .multiselect__input {
 font-size: .875rem;
 margin:0px;
 padding: 4px;
}

.form-control .multiselect__input::placeholder {
  color: rgba(var(--colors-gray-400));
}

.form-control .multiselect__tags {
  min-height: 30px;
  padding: 4px 4px;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.form-comtrol .multiselect__tags-wrap {
  padding: 0;
}

.form-control .multiselect__tag {
  background: rgba(var(--colors-primary-500));
  margin-bottom: 0px;
  margin-right: 4px;
  border-radius: 4px;
  padding: 6px 24px 6px 6px;
}

.form-control .multiselect__tag-icon {
  line-height: 18px;
  margin-left: 0px;
  border-radius: 4px;
  padding-top: 2px;
}

.form-control .multiselect__tag-icon::after {
}


.multiselect__select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}

.multiselect__select::before {
  border-width: 0; /* Reset default style */

  /*position: absolute;*/
  top: 0;
  width: 22px;
  height: 6px;
  margin: 0;

  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="%2335393C" fill-rule="nonzero" d="M8.293.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4A1 1 0 0 1 1.707.293L5 3.586 8.293.293z"/></svg>');
}
